<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mrcs Package Regression">
    <test name="mrcs Test">
        <classes>
            <class name="MRCS.DynamicSuiteRunner.SuiteRunner"/>
        </classes>
    </test>

</suite> <!-- Suite -->
